.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--rgb-black), 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50rem;
  background-color: rgb(var(--rgb-bg-primary));
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(var(--rgb-black), 0.3);
  z-index: 1000;
  transition: all 0.5s;
  border-radius: 10px;
}

/* Signup form */
.signup__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 4px;
}

.signup__form label {
  text-align: center;
}

.signup__form label:not(:first-child) {
  margin-top: 4px;
}

.signup__form input {
  padding: 8px;
  border-radius: 8px;
}

.signup__form input:focus,
.signup__form input:hover {
  outline: none;
  border: 1px solid rgb(var(--rgb-bg-green));
}

.signup__form input:last-of-type {
  margin-bottom: 24px;
}
