nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  padding: 2rem;
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
}

.logo {
  height: 5.25rem;
}

.login {
  display: flex;
}

.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid rgb(var(--rgb-white));
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid rgb(var(--rgb-input-focus));
}

.login__input::placeholder {
  color: rgb(var(--rgb-input-placeholder));
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: rgb(var(--rgb-btn-hover));
}

.signup__btn {
  border: none;
  padding: 0.7rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  border-radius: 10rem;
  background-color: rgb(var(--rgb-bg-green));
  color: rgb(var(--rgb-btn-text));
  cursor: pointer;
}

.signup__btn:hover,
.signup__btn:focus {
  background-image: var(--gradient-primary);
}

@media (min-width: 1024px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}
