.summary {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: rgb(var(--rgb-summary-green));
}

.summary__value--out {
  color: rgb(var(--rgb-summary-red));
}

.btn--sort {
  margin-left: auto;
  background: none;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
}

@media (min-width: 768px) {
  .summary {
    grid-row: 5 / 6;
    flex-direction: row;
    align-items: baseline;
    gap: 0;
  }
}
