* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgb(var(--rgb-text-primary));
  background-color: rgb(var(--rgb-bg-primary));
  min-height: 100vh;
  padding: 2rem;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
}
