/* Breakpoints:
  Phone:   < 600px
  Tablet:  768px (min-width)
  Desktop: 1024px (min-width)
*/

:root {
  --rgb-white: 255, 255, 255;
  --rgb-black: 0, 0, 0;
  --rgb-green: 102, 200, 115;
  --rgb-red: 245, 70, 93;
  --rgb-yellow: 255, 152, 0;
  --rgb-blue: 79, 79, 237;

  --rgb-text-primary: 68, 68, 68;
  --rgb-btn-text: 245, 245, 245;
  --rgb-ops-text: 51, 51, 51;

  --rgb-bg-primary: 243, 243, 243;
  --rgb-bg-green: 94, 197, 118;

  --rgb-btn-hover: 119, 119, 119;
  --rgb-input-focus: 204, 204, 204;
  --rgb-input-placeholder: 187, 187, 187;

  --rgb-balance-date: 136, 136, 136;

  --rgb-mov-text: 238, 238, 238;
  --rgb-mov-date: 102, 102, 102;

  --gradient-primary: linear-gradient(
    to top left,
    rgb(57, 179, 133),
    rgb(155, 225, 93)
  );

  --gradient-red: linear-gradient(
    to top left,
    rgb(229, 42, 90),
    rgb(255, 88, 95)
  );

  --gradient-yellow: linear-gradient(
    to top left,
    rgb(255, 176, 3),
    rgb(255, 203, 3)
  );
}
